.DS_Store
Thumbs.db
.localized
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.cache/
/target/
/out/
**/target/
**/build/
**/*.jar
**/*.war
**/*.zip
**/*.rar
**/*.class
**/.gradle/
**/.mvn/wrapper/maven-wrapper.jar
**/*.log
**/logs/
!**/application.properties
!**/application.yml
**/*.properties
**/*.yaml
**/*.yml
.env
.env.*
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/coverage/
**/*.spec.ts
**/*.js.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
Front-end/front-gestao-produtos/src/environments/environment.local.ts
*.bak
*.swp
*~
.#*
.gitkeep
.gitattributes