<div class="dashboard-container">
  <aside class="dashboard-sidebar">
    <div class="sidebar-header">
      <h2>Painel</h2>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/dashboard/products" routerLinkActive="active-link">
            <i class="fa-solid fa-box"></i> Produtos
          </a>
        </li>
        <li *ngIf="isUserAdmin">
          <a routerLink="/dashboard/products/new" routerLinkActive="active-link">
            <i class="fa-solid fa-plus-circle"></i> Cadastrar Produto
          </a>
        </li>
        <li *ngIf="isUserAdmin">
          <a routerLink="/dashboard/users" routerLinkActive="active-link">
            <i class="fa-solid fa-users"></i> Usuários
          </a>
        </li>
        <li>
          <a (click)="logout()" class="logout-link">
            <i class="fa-solid fa-right-from-bracket"></i> Sair
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="dashboard-main-content">
    <header class="main-content-header">
      <h1>Bem-vindo ao Dashboard!</h1>
    </header>
    <div class="main-content-body">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

